<a href="https://colab.research.google.com/github/DevhTor/Archivos/blob/master/reto5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cargar librerias necesarias

In [ ]:
import pandas as pd

Cargar datasets

In [ ]:
tienda = pd.read_csv("/content/store.csv")
dias_festivos = pd.read_csv("/content/test.csv")
ventas = pd.read_csv("/content/train.csv")

<ipython-input-4-1c25a286220f>:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  ventas = pd.read_csv("/content/train.csv")

Hacer una revisi√≥n breve de los datasets

In [ ]:
tienda.shape #filas y columnas

(1115, 10)

In [ ]:
tienda.head(1115) #Muestra

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [ ]:
#Revisar cuantos tipos unicos de tiendas hay
tienda['StoreType'].unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [ ]:
#Revisar tipos unicos de surtidos
tienda['Assortment'].unique()

array(['a', 'c', 'b'], dtype=object)

**Descripci√≥n de las columnas:**

**Store**: Especifica el n√∫mero de la tienda. En el dataframe previo hay una fila para cada tienda, es decir, hay 1115 tiendas.

**StoreType**: Dice el tipo de tienda que es. Hay 4 tipos de tiendas: a, b, c, d.

**Assortment**: Surtido. Hay tres tipos de surtidos: a, b, c.

In [ ]:
tienda.columns

Index(['Store', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [ ]:
dias_festivos.head()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
9995,9996,749,7,2015-09-06,0.0,0,0,0
9996,9997,750,7,2015-09-06,0.0,0,0,0
9997,9998,751,7,2015-09-06,0.0,0,0,0
9998,9999,752,7,2015-09-06,0.0,0,0,0
9999,10000,753,7,2015-09-06,0.0,0,0,0

In [ ]:
dias_festivos.shape

(41088, 8)

In [ ]:
dias_festivos.columns

Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday'],
      dtype='object')

In [ ]:
ventas.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [ ]:
ventas.shape

(1017209, 9)

In [ ]:
ventas.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

Ahora se van a unir todos los los dataframes en uno solo